.account-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.account-page {
  width: 378px;
  height: 100vh;
  background-color: #F7F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.account-sub-page{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .account-page {
    width: 100%;
    height: 100vh;
  }
}

.account-title-container{
  background-color: #ffffff; 
  width: 100%;
  height: 68px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.account-title {
  font-size: 18px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.profile-details{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile-name{
  font-size: 15px;
  font-weight: 550;
}

.profile-email{
  font-size: 13px;
}

.account-description {
  width:337px;
  height: 63px;
}

.profile-image-container{
  position: relative;
  display: inline-block;
}

.camera-image{
  width: 20px;
  height: 18px;
  position: absolute;
  right:5px;
  bottom: 5px;
}

.account-hr{
  border: none;
  border-top: 2px dotted gray;
  margin: 20px 0;
}